<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-32x32.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>World Of Books</title>
</head>

<body>

  <header>
    <section>
      <ul class="left">
        <li><a href="/"><i class="fas fa-book-open"></i></a></li>
        <li><a href="/read">Read</a></li>
      </ul>
      <ul class="right">
        <li><a href="/login">Log-In</a></li>
        <li class="signUpDir"><a href="/signup">Sign-Up</a></li>
        <li> <a href="/profile">Profile</a> </li>
      </ul>
    </section>
    <h1>World of Books</h1>
    <h2>In A World Full of Stories To Be Told, Tell Yours.</h2>

  </header>
  <section class="topStoriesHead">
    <h3>Top Stories Of The Month</h3>
  </section>
  <section class="rightMainSec clearfix">
    <section class="topStories clearfix">

      <%if(stories.length>2){%>


      <% for(var i=stories.length-1; i<stories.length; i++) {%>
        <%if(stories[i].postStory==true){%>
      <section class="author"></section>
      <a href="/readStories/<%= stories[0]._id %>">
        <h4><%= stories[i-0].title %></h4>

        <p><%= stories[i-0].stories %></p>
          <%}%>
        <%}%>
      <a/>
    </section>

    <section class="topStories1 clearfix">



      <% for(var i=stories.length-1; i<stories.length; i++) {%>
        <%if(stories[i].postStory==true){%>
        <section class="author2"></section>
        <a href="/readStories/<%= stories[i-1]._id %>">
          <h4><%= stories[i-1].title %></h4>

          <p><%= stories[i-1].stories %></p>
            <%}%>
          <%}%>
    </a>
    </section>

    <section class="topStories2 clearfix">

      <% for(var i=stories.length-1; i<stories.length; i++) {%>
        <%if(stories[i].postStory==true){%>
          <section class="author3"></section>
          <a href="/readStories/<%= stories[i-2]._id %>">
            <h4><%= stories[i-2].title %></h4>

            <p><%= stories[i-2].stories %></p>
            <a />
              <%}%>
            <%}%>
      <%}%>
    </section>

  </section>
</body>
<script type="/main.js">

</script>

</html>
