<!doctype html>
<html>

<head>
  <title>World Of Books PROFILE</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="profile.css">
</head>

<body>
  <section class="topOfProfile">
    <a href="/"> <i class="fas fa-book-open"></i></a>
    <!-- search -->
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="" placeholder="Search For Stories">
    </form>
    <a href="/creation">
      <h1>Create</h1>
    </a>
  </section>

  <section class="leftBio">

    <section class="profilePic"></section>
    <h4>My Bio:</h4>


    <li>list of favorite genres</li>
    </ul>
  </section>
  <section class="jumboTron">
    <h3>My Book Shelf</h3>
    <% for(var i=0; i<stories.length; i++) {%>
    <ul>
      <li class="story">
        <span><%= user.local.email %></span>
        <p><%= stories[i].name %></p>
        <p><%=stories[i].summary%></p>
        <p><%= stories[i].stories %></p>
        <p><%= stories[i].thumbUp %></p>
        <p><%= stories[i].thumbDown %></p>
        <button class="fa fa-trash" type="button" name="button" aria-hidden="true"></button>
      </li>

      <% } %>
    </ul>
    <ul>
      <li>stories[i].name</li>
    </ul>
  </section>

</body>
<script src="main.js"></script>
</html>
