<!doctype html>
<html>

<head>
  <title>World Of Books</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-32x32.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/profile.css">
</head>

<body>
  <section class="topOfProfile">
    <section class="header">
      <a href="/"><i class="fas fa-book-open"></i></a>
      <!-- search -->
      <a href="/creation" class="Create">
        <h2>Create</h2>
      </a>
    </section>
    <section class="profilePic"></section>
  </section>


  <section class="leftBio">


    <h4>My Bio:</h4>


    <li>list of favorite genres</li>
    </ul>
  </section>
  <section class="jumboTron">
    <h3>My Book Shelf</h3>
    <section class="bookShelf">
      <% for(var i=0; i<stories.length; i++) {%>
      <ul>
        <section class="books">
          <li class="story">
            <span><%= user.local.username %></span>
            <p><%= stories[i].name %></p>
            <p><%= stories[i].title %></p>
            <p><%=stories[i].summary%></p>
            <p class="width"><%= stories[i].stories %></p>
            <p class="hide"><%= stories[i].thumbUp %></p>
            <p class="hide"><%= stories[i].thumbDown %></p>
            <p><%= Math.floor(stories[i].thumbUp / stories[i].thumbDown*100) %>%</p>
            <button class="fa fa-trash" type="button" name="button" aria-hidden="true"></button>
            <button class="postStory" type="button">Post Story</button>
            <a href="/edit/<%= stories[i]._id %>">
              <h3>Edit</h3>
            </a>
              <%if(stories[i].postStory==true){%>
            <span class="posted">Posted</span>
            <%}%>
          </li>
        </section>

        <% } %>
      </ul>
    </section>

    <!-- <h3><img src="../public/img/uploads/file-to-upload-1565914177876.png" alt=""></h3> -->
    <!-- IMAGE UPLOAD -->
<!-- <form action="/up" enctype="multipart/form-data" method="post">
   <input type="file" name="file-to-upload">
   <input type="submit" value="Upload">
 </form> -->
  </section>
</body>
<script src="/main.js"></script>

</html>
