<!doctype html>
<html>

<head>
  <title>World Of Books</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-32x32.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/userPage.css">
</head>

<body>
  <section class="topOfProfile">
    <section class="header">
      <a href="/"><i class="fas fa-book-open"></i></a>
      <!-- search -->

    </section>
    <% for(var j=stories.length-1; j<stories.length; j++) {%>
    <section class="profilePic"><img src="/<%= stories[j].profileImg %>" alt=""></section>
        <% } %>
  </section>


  <section class="leftBio">
    <section>
      <p>Stories:</p>
      <% for(var i=0; i<stories.length; i++) {%>
      <p><%= stories[i].title %></p>
      <span> Likes: <%= stories[i].thumbUp %></span>
      <span>Dislikes: <%= stories[i].thumbDown -3%></span>
      <%}%>
    </section>
  </section>
  <% for(var i=stories.length-1; i<stories.length; i++) {%>
  <section class="jumboTron">
    <h3><%= stories[i].username %> Book Shelf</h3>
    <% } %>
    <section class="bookShelf">
      <% for(var i=0; i<stories.length; i++) {%>
      <li class="message">
        <section class="books">
          <p><%= stories[i].username %></p>
          <p><%= stories[i].stories %></p>
        </section>
      </li>
      <% } %>
      </ul>
    </section>
  </section>
</body>
<script src="/main.js"></script>

</html>
